In [1]:
#connect to sqlitedatabase

import sqlite3

In [2]:
connection=sqlite3.connect('manu.db')
connection

In [3]:
#create a cursor
cursor=connection.cursor()
#create a table

cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text not null,
    age Integer,
    Department Text
    )             
''')

In [4]:
#commit the changes

connection.commit()
cursor.execute('''
select * from employees              
''')

In [5]:
#insert data
cursor.execute('''
Insert into employees(name,age,department)
            values('tanishq',20,'Data Scientist')              
''')

cursor.execute('''
Insert into employees(name,age,department)
            values('siddhant',20,'Blockchain Devloper')
            
''')

cursor.execute('''
Insert into employees(name,age,department)
            values('tushar',21,'Web Devloper')
            
''')

connection.commit()

In [6]:
#Query an data from table itself

cursor.execute('select * from employees')
rows=cursor.fetchall()

#print the quered data

for row in rows:
    print(row)

(2, 'siddhant', 20, 'Blockchain Devloper')
(3, 'tushar', 21, 'Web Devloper')
(5, 'siddhant', 20, 'Blockchain Devloper')
(6, 'tushar', 21, 'Web Devloper')
(7, 'tanishq', 20, 'Data Scientist')
(8, 'siddhant', 20, 'Blockchain Devloper')
(9, 'tushar', 21, 'Web Devloper')

In [7]:
#update the data in the table

cursor.execute('''
UPDATE employees
set age=25
where Name="tanishq"
''')

connection.commit()

In [8]:
#Query an data from table itself

cursor.execute('select * from employees')
rows=cursor.fetchall()

#print the quered data

for row in rows:
    print(row)

(2, 'siddhant', 20, 'Blockchain Devloper')
(3, 'tushar', 21, 'Web Devloper')
(5, 'siddhant', 20, 'Blockchain Devloper')
(6, 'tushar', 21, 'Web Devloper')
(7, 'tanishq', 25, 'Data Scientist')
(8, 'siddhant', 20, 'Blockchain Devloper')
(9, 'tushar', 21, 'Web Devloper')

In [9]:
#delete data from table

cursor.execute('''
Delete from employees
where name='tanishq'
''')

connection.commit()

In [10]:
#Query an data from table itself

cursor.execute('select * from employees')
rows=cursor.fetchall()

#print the quered data

for row in rows:
    print(row)

(2, 'siddhant', 20, 'Blockchain Devloper')
(3, 'tushar', 21, 'Web Devloper')
(5, 'siddhant', 20, 'Blockchain Devloper')
(6, 'tushar', 21, 'Web Devloper')
(8, 'siddhant', 20, 'Blockchain Devloper')
(9, 'tushar', 21, 'Web Devloper')

In [11]:
#woeking with sales data

connection=sqlite3.connect('sales_data.db')
connection

#create a cursor
cursor=connection.cursor()
cursor.execute("DROP TABLE IF EXISTS sales;")
#create a table

cursor.execute('''
Create Table If Not Exists sales(
    id Integer Primary Key,
    date Text not null,
    product Text not null,
    sales Integer,   
    region Text
    )             
''')

In [12]:
#insert data into sales table

sales_data=[
    ('2023-01-01','product1',100,'north'),
    ('2023-01-02','product2',150,'south'),
    ('2023-01-03','product3',200,'south'),
    ('2023-01-04','product4',250,'east'),
    ('2023-01-05','product5',300,'west')

]

cursor.executemany('''
insert into sales(date,product,sales,region)
                 values(?,?,?,?)
''',sales_data)

connection.commit()

In [13]:
#Query an data from table itself

cursor.execute('select * from sales')
rows=cursor.fetchall()

#print the quered data

for row in rows:
    print(row)

(1, '2023-01-01', 'product1', 100, 'north')
(2, '2023-01-02', 'product2', 150, 'south')
(3, '2023-01-03', 'product3', 200, 'south')
(4, '2023-01-04', 'product4', 250, 'east')
(5, '2023-01-05', 'product5', 300, 'west')

In [21]:
#close the connection

connection.close()